.navbar {
  background-color: #eaf6f9;
  /* vertical-align: center;
  color: #ffffff; */
}

body {
  /* background-color: #f7fbfc; */
  background-color: #ebf0f4;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #booking {
  font-family: 'Poppins', sans-serif;
  background-image: url('/public/images/gozayan.png');
  background-size: cover;
  background-position: center;
} */
